/* src/App.css */

/* Styling for event bars with rounded corners */
.fc-event {
  border-radius: 4px !important;
  padding: 0 !important;
  overflow: hidden !important;
}

/* .fc {
  --fc-border-color: transparent;
} */

.fc-timeline-event-harness {
  /* top and bottom borders are invisible */
  border-top: 0 !important;
  border-bottom: 0 !important;
}
